<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="iLABWebsite">

	<listeners>
		<listener class-name="com.iLABWebsite.utilities.Reporting" />
	</listeners>

	<test name="iLABWebsite Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.iLABWebsite.testCase.TC_TesterApplicationTest_001" />
		</classes>
	</test>
</suite>